tests/CalibayesServices1.wsdl

<?xml version="1.0"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.calibayes.ncl.ac.uk/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices.calibayes.ncl.ac.uk/" name="CalibayesService">
<types>
<xs:schema xmlns:tns="http://webservices.calibayes.ncl.ac.uk/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservices.calibayes.ncl.ac.uk/">
	
<xs:complexType name="discard">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="discardResponse">
<xs:sequence>
<xs:element name="status" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="MyException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getResult">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getResultResponse">
<xs:sequence>
<xs:element name="result" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAvalibaleSimMethods">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAvalibaleSimMethodsResponse">
<xs:sequence>
<xs:element name="methods" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSessions">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSessionsResponse">
<xs:sequence>
<xs:element name="sessions" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="rSubmit">
<xs:sequence>
<xs:element name="inputs" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="rSubmitResponse">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="submit">
<xs:sequence>
<xs:element name="sbmlModel" type="xs:string" minOccurs="0"/>
<xs:element name="expDataXml" type="xs:string" minOccurs="0"/>
<xs:element name="parameterTuningXml" type="xs:string" minOccurs="0"/>
<xs:element name="distributionXml" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="submitResponse">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="isReady">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="isReadyResponse">
<xs:sequence>
<xs:element name="status" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
</types>
<message name="submit">
<part name="parameters" element="tns:submit"></part>
</message>
<message name="submitResponse">
<part name="parameters" element="tns:submitResponse"></part>
</message>
<message name="MyException">
<part name="fault" element="tns:MyException"></part>
</message>
<message name="getResult">
<part name="parameters" element="tns:getResult"></part>
</message>
<message name="getResultResponse">
<part name="parameters" element="tns:getResultResponse"></part>
</message>
<message name="getSessions">
<part name="parameters" element="tns:getSessions"></part>
</message>
<message name="getSessionsResponse">
<part name="parameters" element="tns:getSessionsResponse"></part>
</message>
<message name="discard">
<part name="parameters" element="tns:discard"></part>
</message>
<message name="discardResponse">
<part name="parameters" element="tns:discardResponse"></part>
</message>
<message name="rSubmit">
<part name="parameters" element="tns:rSubmit"></part>
</message>
<message name="rSubmitResponse">
<part name="parameters" element="tns:rSubmitResponse"></part>
</message>
<message name="isReady">
<part name="parameters" element="tns:isReady"></part>
</message>
<message name="isReadyResponse">
<part name="parameters" element="tns:isReadyResponse"></part>
</message>
<message name="getAvalibaleSimMethods">
<part name="parameters" element="tns:getAvalibaleSimMethods"></part>
</message>
<message name="getAvalibaleSimMethodsResponse">
<part name="parameters" element="tns:getAvalibaleSimMethodsResponse"></part>
</message>
<portType name="Calibayes">
<operation name="submit">
<input message="tns:submit"></input>
<output message="tns:submitResponse"></output>
<fault message="tns:MyException" name="MyException"></fault>
</operation>
<operation name="getResult">
<input message="tns:getResult"></input>
<output message="tns:getResultResponse"></output>
<fault message="tns:MyException" name="MyException"></fault>
</operation>
<operation name="getSessions">
<input message="tns:getSessions"></input>
<output message="tns:getSessionsResponse"></output>
<fault message="tns:MyException" name="MyException"></fault>
</operation>
<operation name="discard">
<input message="tns:discard"></input>
<output message="tns:discardResponse"></output>
<fault message="tns:MyException" name="MyException"></fault>
</operation>
<operation name="rSubmit">
<input message="tns:rSubmit"></input>
<output message="tns:rSubmitResponse"></output>
<fault message="tns:MyException" name="MyException"></fault>
</operation>
<operation name="isReady">
<input message="tns:isReady"></input>
<output message="tns:isReadyResponse"></output>
<fault message="tns:MyException" name="MyException"></fault>
</operation>
<operation name="getAvalibaleSimMethods">
<input message="tns:getAvalibaleSimMethods"></input>
<output message="tns:getAvalibaleSimMethodsResponse"></output>
<fault message="tns:MyException" name="MyException"></fault>
</operation>
</portType>
<binding name="CalibayesPortBinding" type="tns:Calibayes">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="submit">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="MyException">
<soap:fault name="MyException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getResult">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="MyException">
<soap:fault name="MyException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getSessions">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="MyException">
<soap:fault name="MyException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="discard">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="MyException">
<soap:fault name="MyException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="rSubmit">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="MyException">
<soap:fault name="MyException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="isReady">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="MyException">
<soap:fault name="MyException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getAvalibaleSimMethods">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="MyException">
<soap:fault name="MyException" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="CalibayesService">
<port name="CalibayesPort" binding="tns:CalibayesPortBinding">
<soap:address location="http://calibayes2.ncl.ac.uk:81/CalibayesWS/CalibayesService"></soap:address>
</port>
</service>
</definitions>