examples/Entrez/efetch_pubmed.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.ncbi.nlm.nih.gov/soap/eutils/efetch" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.ncbi.nlm.nih.gov/soap/eutils/efetch" elementFormDefault="qualified">
    
    <!--    version="1.5" -->
    <!-- http://www.ncbi.nlm.nih.gov/entrez/query/DTD/pubmed_060101.dtd date: 01/09/2006 -->

	<xs:complexType name="ArticleIdType_pubmed">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="IdType" default="pubmed">
					<xs:simpleType>
						<xs:restriction base="xs:NMTOKEN">
							<xs:enumeration value="doi"/>
							<xs:enumeration value="pii"/>
							<xs:enumeration value="pmcpid"/>
							<xs:enumeration value="pmpid"/>
							<xs:enumeration value="sici"/>
							<xs:enumeration value="pubmed"/>
							<xs:enumeration value="medline"/>
							<xs:enumeration value="pmcid"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ArticleIdListType">
		<xs:sequence>
			<xs:element name="ArticleId" type="tns:ArticleIdType_pubmed" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CitationSubset" type="xs:string"/>
	<xs:complexType name="CommentInType">
		<xs:sequence>
			<xs:element ref="tns:RefSource"/>
			<xs:element ref="tns:PMID" minOccurs="0"/>
			<xs:element ref="tns:Note" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CommentOnType">
		<xs:sequence>
			<xs:element ref="tns:RefSource"/>
			<xs:element ref="tns:PMID" minOccurs="0"/>
			<xs:element ref="tns:Note" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CommentsCorrectionsType">
		<xs:sequence>
			<xs:element name="CommentOn" type="tns:CommentOnType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="CommentIn" type="tns:CommentInType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ErratumIn" type="tns:ErratumInType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ErratumFor" type="tns:ErratumForType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="RepublishedFrom" type="tns:RepublishedFromType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="RepublishedIn" type="tns:RepublishedInType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="RetractionOf" type="tns:RetractionOfType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="RetractionIn" type="tns:RetractionInType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="UpdateIn" type="tns:UpdateInType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="UpdateOf" type="tns:UpdateOfType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="SummaryForPatientsIn" type="tns:SummaryForPatientsInType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="OriginalReportIn" type="tns:OriginalReportInType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ReprintOf" type="tns:ReprintOfType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ReprintIn" type="tns:ReprintInType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DeleteCitationType">
		<xs:sequence>
			<xs:element ref="tns:PMID" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ErratumForType">
		<xs:sequence>
			<xs:element ref="tns:RefSource"/>
			<xs:element ref="tns:PMID" minOccurs="0"/>
			<xs:element ref="tns:Note" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ErratumInType">
		<xs:sequence>
			<xs:element ref="tns:RefSource"/>
			<xs:element ref="tns:PMID" minOccurs="0"/>
			<xs:element ref="tns:Note" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="GeneSymbol" type="xs:string"/>
	<xs:complexType name="GeneSymbolListType">
		<xs:sequence>
			<xs:element ref="tns:GeneSymbol" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="HistoryType">
		<xs:sequence>
			<xs:element name="PubMedPubDate" type="tns:PubMedPubDateType" maxOccurs="unbounded"/> 
            <xs:any maxOccurs="unbounded"/>  <!--  ***** -->
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MedlineCitationType">
		<xs:sequence>
			<xs:element ref="tns:NlmDcmsID" minOccurs="0"/>
			<xs:element ref="tns:PMID"/>
			<xs:element name="DateCreated" type="tns:DateCreatedType"/>
			<xs:element name="DateCompleted" type="tns:DateCompletedType" minOccurs="0"/>
			<xs:element name="DateRevised" type="tns:DateRevisedType" minOccurs="0"/>
			<xs:element name="Article" type="tns:ArticleType"/>
			<xs:element name="MedlineJournalInfo" type="tns:MedlineJournalInfoType"/>
			<xs:element name="ChemicalList" type="tns:ChemicalListType" minOccurs="0"/>
			<xs:element ref="tns:CitationSubset" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="CommentsCorrections" type="tns:CommentsCorrectionsType" minOccurs="0"/>
			<xs:element name="GeneSymbolList" type="tns:GeneSymbolListType" minOccurs="0"/>
			<xs:element name="MeshHeadingList" type="tns:MeshHeadingListType" minOccurs="0"/>
			<xs:element ref="tns:NumberOfReferences" minOccurs="0"/>
			<xs:element name="PersonalNameSubjectList" type="tns:PersonalNameSubjectListType" minOccurs="0"/>
			<xs:element name="OtherID" type="tns:OtherIDType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="OtherAbstract" type="tns:OtherAbstractType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="KeywordList" type="tns:KeywordListType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="tns:SpaceFlightMission" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="InvestigatorList" type="tns:InvestigatorListType" minOccurs="0"/>
			<xs:element name="GeneralNote" type="tns:GeneralNoteType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="Owner" default="NLM">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="NLM"/>
					<xs:enumeration value="NASA"/>
					<xs:enumeration value="PIP"/>
					<xs:enumeration value="KIE"/>
					<xs:enumeration value="HSR"/>
					<xs:enumeration value="HMD"/>
					<xs:enumeration value="SIS"/>
					<xs:enumeration value="NOTNLM"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Status" type="xs:string"/>
	</xs:complexType>
	<xs:element name="MedlineCitationSet">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MedlineCitation" type="tns:MedlineCitationType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="DeleteCitation" type="tns:DeleteCitationType" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="NCBIArticleType">
		<xs:sequence>
			<xs:element ref="tns:PMID"/>
			<xs:element name="Article" type="tns:ArticleType"/>
			<xs:element name="MedlineJournalInfo" type="tns:MedlineJournalInfoType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="NlmDcmsID" type="xs:string"/>
	<xs:element name="Note" type="xs:string"/>
	<xs:element name="NumberOfReferences" type="xs:string"/>
	<xs:complexType name="OriginalReportInType">
		<xs:sequence>
			<xs:element ref="tns:RefSource"/>
			<xs:element ref="tns:PMID" minOccurs="0"/>
			<xs:element ref="tns:Note" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PubMedPubDateType">
		<xs:sequence>
			<xs:element ref="tns:Year"/>
			<xs:element ref="tns:Month"/>
			<xs:element ref="tns:Day"/>
			<xs:sequence minOccurs="0">
				<xs:element ref="tns:Hour"/>
				<xs:sequence minOccurs="0">
					<xs:element ref="tns:Minute"/>
					<xs:element ref="tns:Second" minOccurs="0"/>
				</xs:sequence>
			</xs:sequence>
		</xs:sequence>
		<xs:attribute name="PubStatus" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="received"/>
					<xs:enumeration value="accepted"/>
					<xs:enumeration value="epublish"/>
					<xs:enumeration value="ppublish"/>
					<xs:enumeration value="revised"/>
					<xs:enumeration value="aheadofprint"/>
					<xs:enumeration value="retracted"/>
					<xs:enumeration value="pmc"/>
					<xs:enumeration value="pmcr"/>
					<xs:enumeration value="pubmed"/>
					<xs:enumeration value="pubmedr"/>
					<xs:enumeration value="premedline"/>
					<xs:enumeration value="medline"/>
					<xs:enumeration value="medliner"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>

	<xs:element name="PublicationStatus" type="xs:string"/>
	<xs:complexType name="PubmedArticleType">
		<xs:sequence>
            <xs:element name="NCBIArticle" type="tns:NCBIArticleType"/>
			<xs:element name="MedlineCitation" type="tns:MedlineCitationType"/>
			<xs:element name="PubmedData" type="tns:PubmedDataType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PubmedArticleSet">
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded">
				<xs:element name="PubmedArticle" type="tns:PubmedArticleType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="PubmedDataType">
		<xs:sequence>
			<xs:any minOccurs="0"/>
			<xs:element name="History" type="tns:HistoryType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="tns:PublicationStatus"/>
			<xs:element name="ArticleIdList" type="tns:ArticleIdListType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="RefSource" type="xs:string"/>
	<xs:complexType name="ReprintInType">
		<xs:sequence>
			<xs:element ref="tns:RefSource"/>
			<xs:element ref="tns:PMID" minOccurs="0"/>
			<xs:element ref="tns:Note" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReprintOfType">
		<xs:sequence>
			<xs:element ref="tns:RefSource"/>
			<xs:element ref="tns:PMID" minOccurs="0"/>
			<xs:element ref="tns:Note" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RepublishedFromType">
		<xs:sequence>
			<xs:element ref="tns:RefSource"/>
			<xs:element ref="tns:PMID" minOccurs="0"/>
			<xs:element ref="tns:Note" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RepublishedInType">
		<xs:sequence>
			<xs:element ref="tns:RefSource"/>
			<xs:element ref="tns:PMID" minOccurs="0"/>
			<xs:element ref="tns:Note" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RetractionInType">
		<xs:sequence>
			<xs:element ref="tns:RefSource"/>
			<xs:element ref="tns:PMID" minOccurs="0"/>
			<xs:element ref="tns:Note" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RetractionOfType">
		<xs:sequence>
			<xs:element ref="tns:RefSource"/>
			<xs:element ref="tns:PMID" minOccurs="0"/>
			<xs:element ref="tns:Note" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SummaryForPatientsInType">
		<xs:sequence>
			<xs:element ref="tns:RefSource"/>
			<xs:element ref="tns:PMID" minOccurs="0"/>
			<xs:element ref="tns:Note" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="URL">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="lang">
						<xs:simpleType>
							<xs:restriction base="xs:NMTOKEN">
								<xs:enumeration value="AF"/>
								<xs:enumeration value="AR"/>
								<xs:enumeration value="AZ"/>
								<xs:enumeration value="BG"/>
								<xs:enumeration value="CS"/>
								<xs:enumeration value="DA"/>
								<xs:enumeration value="DE"/>
								<xs:enumeration value="EN"/>
								<xs:enumeration value="EL"/>
								<xs:enumeration value="ES"/>
								<xs:enumeration value="FA"/>
								<xs:enumeration value="FI"/>
								<xs:enumeration value="FR"/>
								<xs:enumeration value="HE"/>
								<xs:enumeration value="HU"/>
								<xs:enumeration value="HY"/>
								<xs:enumeration value="IN"/>
								<xs:enumeration value="IS"/>
								<xs:enumeration value="IT"/>
								<xs:enumeration value="IW"/>
								<xs:enumeration value="JA"/>
								<xs:enumeration value="KA"/>
								<xs:enumeration value="KO"/>
								<xs:enumeration value="LT"/>
								<xs:enumeration value="MK"/>
								<xs:enumeration value="ML"/>
								<xs:enumeration value="NL"/>
								<xs:enumeration value="NO"/>
								<xs:enumeration value="PL"/>
								<xs:enumeration value="PT"/>
								<xs:enumeration value="PS"/>
								<xs:enumeration value="RO"/>
								<xs:enumeration value="RU"/>
								<xs:enumeration value="SL"/>
								<xs:enumeration value="SK"/>
								<xs:enumeration value="SQ"/>
								<xs:enumeration value="SR"/>
								<xs:enumeration value="SV"/>
								<xs:enumeration value="SW"/>
								<xs:enumeration value="TH"/>
								<xs:enumeration value="TR"/>
								<xs:enumeration value="UK"/>
								<xs:enumeration value="VI"/>
								<xs:enumeration value="ZH"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="Type">
						<xs:simpleType>
							<xs:restriction base="xs:NMTOKEN">
								<xs:enumeration value="FullText"/>
								<xs:enumeration value="Summary"/>
								<xs:enumeration value="fulltext"/>
								<xs:enumeration value="summary"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="UpdateInType">
		<xs:sequence>
			<xs:element ref="tns:RefSource"/>
			<xs:element ref="tns:PMID" minOccurs="0"/>
			<xs:element ref="tns:Note" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UpdateOfType">
		<xs:sequence>
			<xs:element ref="tns:RefSource"/>
			<xs:element ref="tns:PMID" minOccurs="0"/>
			<xs:element ref="tns:Note" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>


	<xs:complexType name="PubmedArticleSetType">
		<xs:sequence>
			<xs:element name="PubmedArticle" type="tns:PubmedArticleType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

</xs:schema>
