inst/WSDLs/SDMXQuery.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-hudson-208-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-hudson-208-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.sdw.ecb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices.sdw.ecb/" name="SDMXQueryService">
<types>
<xsd:schema>
<xsd:import namespace="http://www.SDMX.org/resources/SDMXML/schemas/v2_0/utility" schemaLocation="http://sdw-ws.ecb.europa.eu:80/services/SDMXQuery?xsd=1" />
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://www.SDMX.org/resources/SDMXML/schemas/v2_0/structure" schemaLocation="http://sdw-ws.ecb.europa.eu:80/services/SDMXQuery?xsd=5" />
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://www.SDMX.org/resources/SDMXML/schemas/v2_0/registry" schemaLocation="http://sdw-ws.ecb.europa.eu:80/services/SDMXQuery?xsd=6" />
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://www.SDMX.org/resources/SDMXML/schemas/v2_0/query" schemaLocation="http://sdw-ws.ecb.europa.eu:80/services/SDMXQuery?xsd=7" />
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://www.SDMX.org/resources/SDMXML/schemas/v2_0/metadatareport" schemaLocation="http://sdw-ws.ecb.europa.eu:80/services/SDMXQuery?xsd=8" />
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://www.SDMX.org/resources/SDMXML/schemas/v2_0/message" schemaLocation="http://sdw-ws.ecb.europa.eu:80/services/SDMXQuery?xsd=9" />
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://www.SDMX.org/resources/SDMXML/schemas/v2_0/genericmetadata" schemaLocation="http://sdw-ws.ecb.europa.eu:80/services/SDMXQuery?xsd=10" />
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://www.SDMX.org/resources/SDMXML/schemas/v2_0/generic" schemaLocation="http://sdw-ws.ecb.europa.eu:80/services/SDMXQuery?xsd=11" />
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://www.SDMX.org/resources/SDMXML/schemas/v2_0/cross" schemaLocation="http://sdw-ws.ecb.europa.eu:80/services/SDMXQuery?xsd=12" />
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://www.SDMX.org/resources/SDMXML/schemas/v2_0/compact" schemaLocation="http://sdw-ws.ecb.europa.eu:80/services/SDMXQuery?xsd=2" />
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://www.SDMX.org/resources/SDMXML/schemas/v2_0/common" schemaLocation="http://sdw-ws.ecb.europa.eu:80/services/SDMXQuery?xsd=3" />
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://webservices.sdw.ecb/" schemaLocation="http://sdw-ws.ecb.europa.eu:80/services/SDMXQuery?xsd=4" />
</xsd:schema>
</types>
<message name="GetGenericData">
<part name="parameters" element="tns:GetGenericData" />
</message>
<message name="GetGenericDataResponse">
<part name="parameters" element="tns:GetGenericDataResponse" />
</message>
<message name="GetCompactData">
<part name="parameters" element="tns:GetCompactData" />
</message>
<message name="GetCompactDataResponse">
<part name="parameters" element="tns:GetCompactDataResponse" />
</message>
<message name="GetCategoryScheme">
<part name="parameters" element="tns:GetCategoryScheme" />
</message>
<message name="GetCategorySchemeResponse">
<part name="parameters" element="tns:GetCategorySchemeResponse" />
</message>
<message name="GetDataflow">
<part name="parameters" element="tns:GetDataflow" />
</message>
<message name="GetDataflowResponse">
<part name="parameters" element="tns:GetDataflowResponse" />
</message>
<message name="GetKeyFamily">
<part name="parameters" element="tns:GetKeyFamily" />
</message>
<message name="GetKeyFamilyResponse">
<part name="parameters" element="tns:GetKeyFamilyResponse" />
</message>
<message name="GetConcept">
<part name="parameters" element="tns:GetConcept" />
</message>
<message name="GetConceptResponse">
<part name="parameters" element="tns:GetConceptResponse" />
</message>
<message name="GetCodeList">
<part name="parameters" element="tns:GetCodeList" />
</message>
<message name="GetCodeListResponse">
<part name="parameters" element="tns:GetCodeListResponse" />
</message>
<message name="GetOrganisationScheme">
<part name="parameters" element="tns:GetOrganisationScheme" />
</message>
<message name="GetOrganisationSchemeResponse">
<part name="parameters" element="tns:GetOrganisationSchemeResponse" />
</message>
<message name="GetAgency">
<part name="parameters" element="tns:GetAgency" />
</message>
<message name="GetAgencyResponse">
<part name="parameters" element="tns:GetAgencyResponse" />
</message>
<message name="GetDataProvider">
<part name="parameters" element="tns:GetDataProvider" />
</message>
<message name="GetDataProviderResponse">
<part name="parameters" element="tns:GetDataProviderResponse" />
</message>
<portType name="SDMXQuery">
<operation name="GetGenericData">
<input message="tns:GetGenericData" />
<output message="tns:GetGenericDataResponse" />
</operation>
<operation name="GetCompactData">
<input message="tns:GetCompactData" />
<output message="tns:GetCompactDataResponse" />
</operation>
<operation name="GetCategoryScheme">
<input message="tns:GetCategoryScheme" />
<output message="tns:GetCategorySchemeResponse" />
</operation>
<operation name="GetDataflow">
<input message="tns:GetDataflow" />
<output message="tns:GetDataflowResponse" />
</operation>
<operation name="GetKeyFamily">
<input message="tns:GetKeyFamily" />
<output message="tns:GetKeyFamilyResponse" />
</operation>
<operation name="GetConcept">
<input message="tns:GetConcept" />
<output message="tns:GetConceptResponse" />
</operation>
<operation name="GetCodeList">
<input message="tns:GetCodeList" />
<output message="tns:GetCodeListResponse" />
</operation>
<operation name="GetOrganisationScheme">
<input message="tns:GetOrganisationScheme" />
<output message="tns:GetOrganisationSchemeResponse" />
</operation>
<operation name="GetAgency">
<input message="tns:GetAgency" />
<output message="tns:GetAgencyResponse" />
</operation>
<operation name="GetDataProvider">
<input message="tns:GetDataProvider" />
<output message="tns:GetDataProviderResponse" />
</operation>
</portType>
<binding name="SDMXQueryPortBinding" type="tns:SDMXQuery">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="GetGenericData">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="GetCompactData">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="GetCategoryScheme">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="GetDataflow">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="GetKeyFamily">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="GetConcept">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="GetCodeList">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="GetOrganisationScheme">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="GetAgency">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="GetDataProvider">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="SDMXQueryService">
<port name="SDMXQueryPort" binding="tns:SDMXQueryPortBinding">
<soap:address location="http://sdw-ws.ecb.europa.eu:80/services/SDMXQuery" />
</port>
</service>
</definitions>