WSDLs/ARSA.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<!--generated by GLUE on Thu Feb 10 09:35:40 JST 2011-->
<definitions name='ARSA' targetNamespace='http://www.themindelectric.com/wsdl/ARSA/' xmlns:tns='http://www.themindelectric.com/wsdl/ARSA/' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:http='http://schemas.xmlsoap.org/wsdl/http/' xmlns:mime='http://schemas.xmlsoap.org/wsdl/mime/' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:soapenc='http://schemas.xmlsoap.org/soap/encoding/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:tme='http://www.themindelectric.com/'>
  <message name='searchSimple0In'>
    <part name='query' type='xsd:string'/>
    <part name='offset' type='xsd:string'/>
    <part name='count' type='xsd:string'/>
  </message>
  <message name='searchSimple0Out'>
    <part name='Result' type='xsd:string'/>
  </message>
  <message name='searchByXMLPath1In'>
    <part name='queryPath' type='xsd:string'/>
    <part name='returnPath' type='xsd:string'/>
    <part name='offset' type='xsd:string'/>
    <part name='count' type='xsd:string'/>
  </message>
  <message name='searchByXMLPath1Out'>
    <part name='Result' type='xsd:string'/>
  </message>
  <message name='getENTRYbyScientificName2In'>
    <part name='query' type='xsd:string'/>
    <part name='offset' type='xsd:string'/>
    <part name='count' type='xsd:string'/>
  </message>
  <message name='getENTRYbyScientificName2Out'>
    <part name='Result' type='xsd:string'/>
  </message>
  <message name='getENTRYbySPECIMEN3In'>
    <part name='query' type='xsd:string'/>
    <part name='offset' type='xsd:string'/>
    <part name='count' type='xsd:string'/>
  </message>
  <message name='getENTRYbySPECIMEN3Out'>
    <part name='Result' type='xsd:string'/>
  </message>
  <message name='searchSimpleAsync4In'>
    <part name='query' type='xsd:string'/>
    <part name='offset' type='xsd:string'/>
    <part name='count' type='xsd:string'/>
  </message>
  <message name='searchSimpleAsync4Out'>
    <part name='Result' type='xsd:string'/>
  </message>
  <message name='searchByXMLPathAsync5In'>
    <part name='queryPath' type='xsd:string'/>
    <part name='returnPath' type='xsd:string'/>
    <part name='offset' type='xsd:string'/>
    <part name='count' type='xsd:string'/>
  </message>
  <message name='searchByXMLPathAsync5Out'>
    <part name='Result' type='xsd:string'/>
  </message>
  <message name='getENTRYbySPECIMENAsync6In'>
    <part name='query' type='xsd:string'/>
    <part name='offset' type='xsd:string'/>
    <part name='count' type='xsd:string'/>
  </message>
  <message name='getENTRYbySPECIMENAsync6Out'>
    <part name='Result' type='xsd:string'/>
  </message>
  <message name='getENTRYbyScientificNameAsync7In'>
    <part name='query' type='xsd:string'/>
    <part name='offset' type='xsd:string'/>
    <part name='count' type='xsd:string'/>
  </message>
  <message name='getENTRYbyScientificNameAsync7Out'>
    <part name='Result' type='xsd:string'/>
  </message>
  <portType name='ARSA'>
    <operation name='searchSimple' parameterOrder='query offset count'>
      <input name='searchSimple0In' message='tns:searchSimple0In'/>
      <output name='searchSimple0Out' message='tns:searchSimple0Out'/>
    </operation>
    <operation name='searchByXMLPath' parameterOrder='queryPath returnPath offset count'>
      <input name='searchByXMLPath1In' message='tns:searchByXMLPath1In'/>
      <output name='searchByXMLPath1Out' message='tns:searchByXMLPath1Out'/>
    </operation>
    <operation name='getENTRYbyScientificName' parameterOrder='query offset count'>
      <input name='getENTRYbyScientificName2In' message='tns:getENTRYbyScientificName2In'/>
      <output name='getENTRYbyScientificName2Out' message='tns:getENTRYbyScientificName2Out'/>
    </operation>
    <operation name='getENTRYbySPECIMEN' parameterOrder='query offset count'>
      <input name='getENTRYbySPECIMEN3In' message='tns:getENTRYbySPECIMEN3In'/>
      <output name='getENTRYbySPECIMEN3Out' message='tns:getENTRYbySPECIMEN3Out'/>
    </operation>
    <operation name='searchSimpleAsync' parameterOrder='query offset count'>
      <input name='searchSimpleAsync4In' message='tns:searchSimpleAsync4In'/>
      <output name='searchSimpleAsync4Out' message='tns:searchSimpleAsync4Out'/>
    </operation>
    <operation name='searchByXMLPathAsync' parameterOrder='queryPath returnPath offset count'>
      <input name='searchByXMLPathAsync5In' message='tns:searchByXMLPathAsync5In'/>
      <output name='searchByXMLPathAsync5Out' message='tns:searchByXMLPathAsync5Out'/>
    </operation>
    <operation name='getENTRYbySPECIMENAsync' parameterOrder='query offset count'>
      <input name='getENTRYbySPECIMENAsync6In' message='tns:getENTRYbySPECIMENAsync6In'/>
      <output name='getENTRYbySPECIMENAsync6Out' message='tns:getENTRYbySPECIMENAsync6Out'/>
    </operation>
    <operation name='getENTRYbyScientificNameAsync' parameterOrder='query offset count'>
      <input name='getENTRYbyScientificNameAsync7In' message='tns:getENTRYbyScientificNameAsync7In'/>
      <output name='getENTRYbyScientificNameAsync7Out' message='tns:getENTRYbyScientificNameAsync7Out'/>
    </operation>
  </portType>
  <binding name='ARSA' type='tns:ARSA'>
    <soap:binding style='rpc' transport='http://schemas.xmlsoap.org/soap/http'/>
    <operation name='searchSimple'>
      <soap:operation soapAction='searchSimple' style='rpc'/>
      <input name='searchSimple0In'>
        <soap:body use='encoded' namespace='http://tempuri.org/ARSA' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </input>
      <output name='searchSimple0Out'>
        <soap:body use='encoded' namespace='http://tempuri.org/ARSA' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </output>
    </operation>
    <operation name='searchByXMLPath'>
      <soap:operation soapAction='searchByXMLPath' style='rpc'/>
      <input name='searchByXMLPath1In'>
        <soap:body use='encoded' namespace='http://tempuri.org/ARSA' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </input>
      <output name='searchByXMLPath1Out'>
        <soap:body use='encoded' namespace='http://tempuri.org/ARSA' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </output>
    </operation>
    <operation name='getENTRYbyScientificName'>
      <soap:operation soapAction='getENTRYbyScientificName' style='rpc'/>
      <input name='getENTRYbyScientificName2In'>
        <soap:body use='encoded' namespace='http://tempuri.org/ARSA' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </input>
      <output name='getENTRYbyScientificName2Out'>
        <soap:body use='encoded' namespace='http://tempuri.org/ARSA' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </output>
    </operation>
    <operation name='getENTRYbySPECIMEN'>
      <soap:operation soapAction='getENTRYbySPECIMEN' style='rpc'/>
      <input name='getENTRYbySPECIMEN3In'>
        <soap:body use='encoded' namespace='http://tempuri.org/ARSA' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </input>
      <output name='getENTRYbySPECIMEN3Out'>
        <soap:body use='encoded' namespace='http://tempuri.org/ARSA' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </output>
    </operation>
    <operation name='searchSimpleAsync'>
      <soap:operation soapAction='searchSimpleAsync' style='rpc'/>
      <input name='searchSimpleAsync4In'>
        <soap:body use='encoded' namespace='http://tempuri.org/ARSA' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </input>
      <output name='searchSimpleAsync4Out'>
        <soap:body use='encoded' namespace='http://tempuri.org/ARSA' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </output>
    </operation>
    <operation name='searchByXMLPathAsync'>
      <soap:operation soapAction='searchByXMLPathAsync' style='rpc'/>
      <input name='searchByXMLPathAsync5In'>
        <soap:body use='encoded' namespace='http://tempuri.org/ARSA' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </input>
      <output name='searchByXMLPathAsync5Out'>
        <soap:body use='encoded' namespace='http://tempuri.org/ARSA' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </output>
    </operation>
    <operation name='getENTRYbySPECIMENAsync'>
      <soap:operation soapAction='getENTRYbySPECIMENAsync' style='rpc'/>
      <input name='getENTRYbySPECIMENAsync6In'>
        <soap:body use='encoded' namespace='http://tempuri.org/ARSA' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </input>
      <output name='getENTRYbySPECIMENAsync6Out'>
        <soap:body use='encoded' namespace='http://tempuri.org/ARSA' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </output>
    </operation>
    <operation name='getENTRYbyScientificNameAsync'>
      <soap:operation soapAction='getENTRYbyScientificNameAsync' style='rpc'/>
      <input name='getENTRYbyScientificNameAsync7In'>
        <soap:body use='encoded' namespace='http://tempuri.org/ARSA' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </input>
      <output name='getENTRYbyScientificNameAsync7Out'>
        <soap:body use='encoded' namespace='http://tempuri.org/ARSA' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </output>
    </operation>
  </binding>
  <service name='ARSA'>
    <port name='ARSA' binding='tns:ARSA'>
      <soap:address location='http://xml.nig.ac.jp/xddbj/ARSA'/>
    </port>
  </service>
</definitions>