WSDLs/NNE.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://com.stibo.net/nne/3.1/NNE" xmlns:ns2="http://com.stibo.net/nne/3.1/Types/NNE" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="NNE" targetNamespace="http://com.stibo.net/nne/3.1/NNE">
  <types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://com.stibo.net/nne/3.1/Types/NNE" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://com.stibo.net/nne/3.1/Types/NNE">
      <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
      <complexType name="Company">
        <sequence>
          <element name="PNo" type="int"/>
          <element name="adProtection" type="int"/>
          <element name="bankConnection" type="string"/>
          <element name="companyForm" type="string"/>
          <element name="companyId" type="int"/>
          <element name="companyType" type="string"/>
          <element name="cvrNo" type="int"/>
          <element name="district" type="string"/>
          <element name="dsSizeCode" type="string"/>
          <element name="dsSizeCodeBranch" type="string"/>
          <element name="email" type="string"/>
          <element name="fax" type="string"/>
          <element name="foundedYear" type="string"/>
          <element name="geography" type="tns:KVH"/>
          <element name="homePage" type="string"/>
          <element name="legalEntity" type="int"/>
          <element name="linkDebtor" type="string"/>
          <element name="linkGroupHierarchy" type="string"/>
          <element name="linkMap" type="string"/>
          <element name="linkNews" type="string"/>
          <element name="numberOfEmployees" type="int"/>
          <element name="numberOfEmployeesBranch" type="int"/>
          <element name="officialName" type="string"/>
          <element name="parentCompany" type="boolean"/>
          <element name="phone" type="string"/>
          <element name="statusText" type="string"/>
          <element name="statusValue" type="int"/>
          <element name="stockQuotation" type="string"/>
          <element name="street" type="string"/>
          <element name="subscriptionRules" type="string"/>
          <element name="tdcId" type="int"/>
          <element name="tdfName" type="string"/>
          <element name="updateDate" type="string"/>
          <element name="zipCode" type="int"/></sequence></complexType>
      <complexType name="KVH">
        <sequence>
          <element name="houseNo" type="string"/>
          <element name="municipalityCode" type="int"/>
          <element name="streetCode" type="int"/></sequence></complexType>
      <complexType name="ArrayOfAccountant">
        <complexContent>
          <restriction base="soap11-enc:Array">
            <attribute ref="soap11-enc:arrayType" wsdl:arrayType="tns:Accountant[]"/></restriction></complexContent></complexType>
      <complexType name="Accountant">
        <sequence>
          <element name="district" type="string"/>
          <element name="name" type="string"/>
          <element name="zipCode" type="int"/></sequence></complexType>
      <complexType name="ArrayOfstring">
        <complexContent>
          <restriction base="soap11-enc:Array">
            <attribute ref="soap11-enc:arrayType" wsdl:arrayType="string[]"/></restriction></complexContent></complexType>
      <complexType name="ArrayOfSubsidiary">
        <complexContent>
          <restriction base="soap11-enc:Array">
            <attribute ref="soap11-enc:arrayType" wsdl:arrayType="tns:Subsidiary[]"/></restriction></complexContent></complexType>
      <complexType name="Subsidiary">
        <sequence>
          <element name="country" type="string"/>
          <element name="name" type="string"/>
          <element name="share" type="string"/>
          <element name="tdcId" type="int"/></sequence></complexType>
      <complexType name="ArrayOfBank">
        <complexContent>
          <restriction base="soap11-enc:Array">
            <attribute ref="soap11-enc:arrayType" wsdl:arrayType="tns:Bank[]"/></restriction></complexContent></complexType>
      <complexType name="Bank">
        <sequence>
          <element name="name" type="string"/></sequence></complexType>
      <complexType name="ArrayOfCategory">
        <complexContent>
          <restriction base="soap11-enc:Array">
            <attribute ref="soap11-enc:arrayType" wsdl:arrayType="tns:Category[]"/></restriction></complexContent></complexType>
      <complexType name="Category">
        <sequence>
          <element name="category" type="string"/>
          <element name="categoryCode" type="int"/></sequence></complexType>
      <complexType name="ArrayOfDecisionMaker">
        <complexContent>
          <restriction base="soap11-enc:Array">
            <attribute ref="soap11-enc:arrayType" wsdl:arrayType="tns:DecisionMaker[]"/></restriction></complexContent></complexType>
      <complexType name="DecisionMaker">
        <sequence>
          <element name="firstName" type="string"/>
          <element name="group" type="string"/>
          <element name="id" type="int"/>
          <element name="lastName" type="string"/>
          <element name="title" type="string"/></sequence></complexType>
      <complexType name="ArrayOfFinance">
        <complexContent>
          <restriction base="soap11-enc:Array">
            <attribute ref="soap11-enc:arrayType" wsdl:arrayType="tns:Finance[]"/></restriction></complexContent></complexType>
      <complexType name="Finance">
        <sequence>
          <element name="accountingDate" type="string"/>
          <element name="assets" type="float"/>
          <element name="availableFunds" type="float"/>
          <element name="availableFundsRatio" type="float"/>
          <element name="balance" type="float"/>
          <element name="capacityRatio" type="float"/>
          <element name="contributionRatio" type="float"/>
          <element name="creditRating" type="string"/>
          <element name="currentAssets" type="float"/>
          <element name="depreciations" type="float"/>
          <element name="fixedAssets" type="float"/>
          <element name="fixedCost" type="float"/>
          <element name="grossProfit" type="float"/>
          <element name="incomeBeforeIncomeTax" type="float"/>
          <element name="linkPDF" type="string"/>
          <element name="longTermedLiability" type="float"/>
          <element name="lotsAndSites" type="float"/>
          <element name="netOutcome" type="float"/>
          <element name="numberOfEmployees" type="int"/>
          <element name="placings" type="float"/>
          <element name="profit" type="float"/>
          <element name="profitForTheYear" type="float"/>
          <element name="profitRatio" type="float"/>
          <element name="publishedDate" type="string"/>
          <element name="returnOnAssets" type="float"/>
          <element name="shareHoldersFundsOfInterest" type="float"/>
          <element name="shareholdersFunds" type="float"/>
          <element name="shortTermedLiability" type="float"/>
          <element name="solvencyRatio" type="float"/>
          <element name="stock" type="float"/>
          <element name="tradeDebitors" type="float"/>
          <element name="turnover" type="float"/>
          <element name="year" type="string"/></sequence></complexType>
      <complexType name="ArrayOfOwnership">
        <complexContent>
          <restriction base="soap11-enc:Array">
            <attribute ref="soap11-enc:arrayType" wsdl:arrayType="tns:Ownership[]"/></restriction></complexContent></complexType>
      <complexType name="Ownership">
        <sequence>
          <element name="country" type="string"/>
          <element name="name" type="string"/>
          <element name="share" type="string"/>
          <element name="tdcId" type="int"/></sequence></complexType>
      <complexType name="ArrayOfTrade">
        <complexContent>
          <restriction base="soap11-enc:Array">
            <attribute ref="soap11-enc:arrayType" wsdl:arrayType="tns:Trade[]"/></restriction></complexContent></complexType>
      <complexType name="Trade">
        <sequence>
          <element name="primary" type="boolean"/>
          <element name="trade" type="string"/>
          <element name="tradeCode" type="string"/></sequence></complexType>
      <complexType name="ArrayOfValueText">
        <complexContent>
          <restriction base="soap11-enc:Array">
            <attribute ref="soap11-enc:arrayType" wsdl:arrayType="tns:ValueText[]"/></restriction></complexContent></complexType>
      <complexType name="ValueText">
        <sequence>
          <element name="text" type="string"/>
          <element name="value" type="int"/></sequence></complexType>
      <complexType name="ArrayOfKeyText">
        <complexContent>
          <restriction base="soap11-enc:Array">
            <attribute ref="soap11-enc:arrayType" wsdl:arrayType="tns:KeyText[]"/></restriction></complexContent></complexType>
      <complexType name="KeyText">
        <sequence>
          <element name="key" type="string"/>
          <element name="text" type="string"/></sequence></complexType>
      <complexType name="ArrayOfKeyInterval">
        <complexContent>
          <restriction base="soap11-enc:Array">
            <attribute ref="soap11-enc:arrayType" wsdl:arrayType="tns:KeyInterval[]"/></restriction></complexContent></complexType>
      <complexType name="KeyInterval">
        <sequence>
          <element name="key" type="string"/>
          <element name="valueFrom" type="int"/>
          <element name="valueTo" type="int"/></sequence></complexType>
      <complexType name="Question">
        <sequence>
          <element name="cvrNo" type="int"/>
          <element name="district" type="string"/>
          <element name="houseNo" type="string"/>
          <element name="name" type="string"/>
          <element name="nameStartsWith" type="boolean"/>
          <element name="phone" type="string"/>
          <element name="street" type="string"/>
          <element name="streetStartsWith" type="boolean"/>
          <element name="tdcId" type="int"/>
          <element name="zipCode" type="int"/></sequence></complexType>
      <complexType name="QuestionTargetGroup">
        <complexContent>
          <extension base="tns:Question">
            <sequence>
              <element name="PNo" type="int"/>
              <element name="accountantName" type="string"/>
              <element name="accountantZipCode" type="int"/>
              <element name="areaCodes" type="string"/>
              <element name="balanceFrom" type="int"/>
              <element name="balanceTo" type="int"/>
              <element name="bankConnection" type="string"/>
              <element name="category" type="string"/>
              <element name="categoryCode" type="int"/>
              <element name="categoryCodeList" type="string"/>
              <element name="companyFormCodeList" type="string"/>
              <element name="companyStatus" type="string"/>
              <element name="contributionRatioFrom" type="int"/>
              <element name="contributionRatioTo" type="int"/>
              <element name="countyCodes" type="string"/>
              <element name="decisionMaker" type="string"/>
              <element name="dsSizeCodeBranchFrom" type="string"/>
              <element name="dsSizeCodeBranchTo" type="string"/>
              <element name="email" type="string"/>
              <element name="foundedFrom" type="string"/>
              <element name="foundedTo" type="string"/>
              <element name="functionArea" type="int"/>
              <element name="grossProfitFrom" type="int"/>
              <element name="grossProfitTo" type="int"/>
              <element name="hasPhoneOnly" type="boolean"/>
              <element name="homePage" type="string"/>
              <element name="incomeBeforeIncomeTaxFrom" type="int"/>
              <element name="incomeBeforeIncomeTaxTo" type="int"/>
              <element name="legalEntitiesOnly" type="boolean"/>
              <element name="municipalityCodes" type="string"/>
              <element name="netResultFrom" type="int"/>
              <element name="netResultTo" type="int"/>
              <element name="noOfEmployeesFrom" type="int"/>
              <element name="noOfEmployeesTo" type="int"/>
              <element name="profitRatioFrom" type="int"/>
              <element name="profitRatioTo" type="int"/>
              <element name="registredCompaniesOnly" type="boolean"/>
              <element name="shareholdersFundFrom" type="int"/>
              <element name="shareholdersFundTo" type="int"/>
              <element name="trade" type="string"/>
              <element name="tradeCode" type="string"/>
              <element name="tradeCodeFrom" type="string"/>
              <element name="tradeCodeList" type="string"/>
              <element name="tradeCodeTo" type="string"/>
              <element name="tradeGroup" type="string"/>
              <element name="tradeGroupList" type="string"/>
              <element name="turnoverFrom" type="int"/>
              <element name="turnoverTo" type="int"/>
              <element name="updateDateFrom" type="string"/>
              <element name="updateDateTo" type="string"/>
              <element name="zipCodes" type="string"/></sequence></extension></complexContent></complexType>
      <complexType name="Answer">
        <sequence>
          <element name="companyBasic" type="tns:ArrayOfCompanyBasic"/>
          <element name="errorMessage" type="string"/>
          <element name="window" type="tns:Window"/></sequence></complexType>
      <complexType name="ArrayOfCompanyBasic">
        <complexContent>
          <restriction base="soap11-enc:Array">
            <attribute ref="soap11-enc:arrayType" wsdl:arrayType="tns:CompanyBasic[]"/></restriction></complexContent></complexType>
      <complexType name="CompanyBasic">
        <sequence>
          <element name="PNo" type="int"/>
          <element name="adProtection" type="int"/>
          <element name="companyId" type="int"/>
          <element name="companyType" type="string"/>
          <element name="cvrNo" type="int"/>
          <element name="district" type="string"/>
          <element name="fax" type="string"/>
          <element name="officialName" type="string"/>
          <element name="phone" type="string"/>
          <element name="street" type="string"/>
          <element name="tdcId" type="int"/>
          <element name="zipCode" type="int"/></sequence></complexType>
      <complexType name="Window">
        <sequence>
          <element name="currentPage" type="int"/>
          <element name="from" type="int"/>
          <element name="to" type="int"/>
          <element name="total" type="int"/>
          <element name="totalPages" type="int"/></sequence></complexType></schema></types>
  <message name="NNE_PortType_fetchCompany">
    <part name="int_1" type="xsd:int"/>
    <part name="int_2" type="xsd:int"/>
    <part name="String_3" type="xsd:string"/>
    <part name="String_4" type="xsd:string"/></message>
  <message name="NNE_PortType_fetchCompanyResponse">
    <part name="result" type="ns2:Company"/></message>
  <message name="NNE_PortType_fetchCompanyAccountants">
    <part name="int_1" type="xsd:int"/>
    <part name="int_2" type="xsd:int"/>
    <part name="String_3" type="xsd:string"/>
    <part name="String_4" type="xsd:string"/></message>
  <message name="NNE_PortType_fetchCompanyAccountantsResponse">
    <part name="result" type="ns2:ArrayOfAccountant"/></message>
  <message name="NNE_PortType_fetchCompanyAdditionalNames">
    <part name="int_1" type="xsd:int"/>
    <part name="int_2" type="xsd:int"/>
    <part name="String_3" type="xsd:string"/>
    <part name="String_4" type="xsd:string"/></message>
  <message name="NNE_PortType_fetchCompanyAdditionalNamesResponse">
    <part name="result" type="ns2:ArrayOfstring"/></message>
  <message name="NNE_PortType_fetchCompanyAssociates">
    <part name="int_1" type="xsd:int"/>
    <part name="int_2" type="xsd:int"/>
    <part name="String_3" type="xsd:string"/>
    <part name="String_4" type="xsd:string"/></message>
  <message name="NNE_PortType_fetchCompanyAssociatesResponse">
    <part name="result" type="ns2:ArrayOfSubsidiary"/></message>
  <message name="NNE_PortType_fetchCompanyBankConnections">
    <part name="int_1" type="xsd:int"/>
    <part name="int_2" type="xsd:int"/>
    <part name="String_3" type="xsd:string"/>
    <part name="String_4" type="xsd:string"/></message>
  <message name="NNE_PortType_fetchCompanyBankConnectionsResponse">
    <part name="result" type="ns2:ArrayOfBank"/></message>
  <message name="NNE_PortType_fetchCompanyCategories">
    <part name="int_1" type="xsd:int"/>
    <part name="int_2" type="xsd:int"/>
    <part name="String_3" type="xsd:string"/>
    <part name="String_4" type="xsd:string"/></message>
  <message name="NNE_PortType_fetchCompanyCategoriesResponse">
    <part name="result" type="ns2:ArrayOfCategory"/></message>
  <message name="NNE_PortType_fetchCompanyCreditRating">
    <part name="int_1" type="xsd:int"/>
    <part name="int_2" type="xsd:int"/>
    <part name="String_3" type="xsd:string"/>
    <part name="String_4" type="xsd:string"/></message>
  <message name="NNE_PortType_fetchCompanyCreditRatingResponse">
    <part name="result" type="xsd:string"/></message>
  <message name="NNE_PortType_fetchCompanyDecisionmakers">
    <part name="int_1" type="xsd:int"/>
    <part name="int_2" type="xsd:int"/>
    <part name="String_3" type="xsd:string"/>
    <part name="String_4" type="xsd:string"/></message>
  <message name="NNE_PortType_fetchCompanyDecisionmakersResponse">
    <part name="result" type="ns2:ArrayOfDecisionMaker"/></message>
  <message name="NNE_PortType_fetchCompanyFinance">
    <part name="int_1" type="xsd:int"/>
    <part name="int_2" type="xsd:int"/>
    <part name="String_3" type="xsd:string"/>
    <part name="String_4" type="xsd:string"/></message>
  <message name="NNE_PortType_fetchCompanyFinanceResponse">
    <part name="result" type="ns2:ArrayOfFinance"/></message>
  <message name="NNE_PortType_fetchCompanyOwnership">
    <part name="int_1" type="xsd:int"/>
    <part name="int_2" type="xsd:int"/>
    <part name="String_3" type="xsd:string"/>
    <part name="String_4" type="xsd:string"/></message>
  <message name="NNE_PortType_fetchCompanyOwnershipResponse">
    <part name="result" type="ns2:ArrayOfOwnership"/></message>
  <message name="NNE_PortType_fetchCompanySubsidiaries">
    <part name="int_1" type="xsd:int"/>
    <part name="int_2" type="xsd:int"/>
    <part name="String_3" type="xsd:string"/>
    <part name="String_4" type="xsd:string"/></message>
  <message name="NNE_PortType_fetchCompanySubsidiariesResponse">
    <part name="result" type="ns2:ArrayOfSubsidiary"/></message>
  <message name="NNE_PortType_fetchCompanyTrade">
    <part name="int_1" type="xsd:int"/>
    <part name="int_2" type="xsd:int"/>
    <part name="String_3" type="xsd:string"/>
    <part name="String_4" type="xsd:string"/></message>
  <message name="NNE_PortType_fetchCompanyTradeResponse">
    <part name="result" type="ns2:ArrayOfTrade"/></message>
  <message name="NNE_PortType_lookupAreaCodes"/>
  <message name="NNE_PortType_lookupAreaCodesResponse">
    <part name="result" type="ns2:ArrayOfValueText"/></message>
  <message name="NNE_PortType_lookupCategoryCodes"/>
  <message name="NNE_PortType_lookupCategoryCodesResponse">
    <part name="result" type="ns2:ArrayOfValueText"/></message>
  <message name="NNE_PortType_lookupCompanyForms"/>
  <message name="NNE_PortType_lookupCompanyFormsResponse">
    <part name="result" type="ns2:ArrayOfKeyText"/></message>
  <message name="NNE_PortType_lookupCompanyStatus"/>
  <message name="NNE_PortType_lookupCompanyStatusResponse">
    <part name="result" type="ns2:ArrayOfKeyText"/></message>
  <message name="NNE_PortType_lookupCountyCodes"/>
  <message name="NNE_PortType_lookupCountyCodesResponse">
    <part name="result" type="ns2:ArrayOfValueText"/></message>
  <message name="NNE_PortType_lookupCreditRatings"/>
  <message name="NNE_PortType_lookupCreditRatingsResponse">
    <part name="result" type="ns2:ArrayOfKeyText"/></message>
  <message name="NNE_PortType_lookupDsSizeCodes"/>
  <message name="NNE_PortType_lookupDsSizeCodesResponse">
    <part name="result" type="ns2:ArrayOfKeyInterval"/></message>
  <message name="NNE_PortType_lookupFunctionAreas"/>
  <message name="NNE_PortType_lookupFunctionAreasResponse">
    <part name="result" type="ns2:ArrayOfValueText"/></message>
  <message name="NNE_PortType_lookupMunicipalityCodes"/>
  <message name="NNE_PortType_lookupMunicipalityCodesResponse">
    <part name="result" type="ns2:ArrayOfValueText"/></message>
  <message name="NNE_PortType_lookupTradeCodes"/>
  <message name="NNE_PortType_lookupTradeCodesResponse">
    <part name="result" type="ns2:ArrayOfKeyText"/></message>
  <message name="NNE_PortType_lookupTradeGroups"/>
  <message name="NNE_PortType_lookupTradeGroupsResponse">
    <part name="result" type="ns2:ArrayOfKeyText"/></message>
  <message name="NNE_PortType_search">
    <part name="Question_1" type="ns2:Question"/>
    <part name="int_2" type="xsd:int"/>
    <part name="int_3" type="xsd:int"/>
    <part name="int_4" type="xsd:int"/>
    <part name="String_5" type="xsd:string"/></message>
  <message name="NNE_PortType_searchResponse">
    <part name="result" type="ns2:Answer"/></message>
  <message name="NNE_PortType_searchTargetGroup">
    <part name="QuestionTargetGroup_1" type="ns2:QuestionTargetGroup"/>
    <part name="int_2" type="xsd:int"/>
    <part name="int_3" type="xsd:int"/>
    <part name="int_4" type="xsd:int"/>
    <part name="String_5" type="xsd:string"/></message>
  <message name="NNE_PortType_searchTargetGroupResponse">
    <part name="result" type="ns2:Answer"/></message>
  <portType name="NNE_PortType">
    <operation name="fetchCompany" parameterOrder="int_1 int_2 String_3 String_4">
      <input message="tns:NNE_PortType_fetchCompany"/>
      <output message="tns:NNE_PortType_fetchCompanyResponse"/></operation>
    <operation name="fetchCompanyAccountants" parameterOrder="int_1 int_2 String_3 String_4">
      <input message="tns:NNE_PortType_fetchCompanyAccountants"/>
      <output message="tns:NNE_PortType_fetchCompanyAccountantsResponse"/></operation>
    <operation name="fetchCompanyAdditionalNames" parameterOrder="int_1 int_2 String_3 String_4">
      <input message="tns:NNE_PortType_fetchCompanyAdditionalNames"/>
      <output message="tns:NNE_PortType_fetchCompanyAdditionalNamesResponse"/></operation>
    <operation name="fetchCompanyAssociates" parameterOrder="int_1 int_2 String_3 String_4">
      <input message="tns:NNE_PortType_fetchCompanyAssociates"/>
      <output message="tns:NNE_PortType_fetchCompanyAssociatesResponse"/></operation>
    <operation name="fetchCompanyBankConnections" parameterOrder="int_1 int_2 String_3 String_4">
      <input message="tns:NNE_PortType_fetchCompanyBankConnections"/>
      <output message="tns:NNE_PortType_fetchCompanyBankConnectionsResponse"/></operation>
    <operation name="fetchCompanyCategories" parameterOrder="int_1 int_2 String_3 String_4">
      <input message="tns:NNE_PortType_fetchCompanyCategories"/>
      <output message="tns:NNE_PortType_fetchCompanyCategoriesResponse"/></operation>
    <operation name="fetchCompanyCreditRating" parameterOrder="int_1 int_2 String_3 String_4">
      <input message="tns:NNE_PortType_fetchCompanyCreditRating"/>
      <output message="tns:NNE_PortType_fetchCompanyCreditRatingResponse"/></operation>
    <operation name="fetchCompanyDecisionmakers" parameterOrder="int_1 int_2 String_3 String_4">
      <input message="tns:NNE_PortType_fetchCompanyDecisionmakers"/>
      <output message="tns:NNE_PortType_fetchCompanyDecisionmakersResponse"/></operation>
    <operation name="fetchCompanyFinance" parameterOrder="int_1 int_2 String_3 String_4">
      <input message="tns:NNE_PortType_fetchCompanyFinance"/>
      <output message="tns:NNE_PortType_fetchCompanyFinanceResponse"/></operation>
    <operation name="fetchCompanyOwnership" parameterOrder="int_1 int_2 String_3 String_4">
      <input message="tns:NNE_PortType_fetchCompanyOwnership"/>
      <output message="tns:NNE_PortType_fetchCompanyOwnershipResponse"/></operation>
    <operation name="fetchCompanySubsidiaries" parameterOrder="int_1 int_2 String_3 String_4">
      <input message="tns:NNE_PortType_fetchCompanySubsidiaries"/>
      <output message="tns:NNE_PortType_fetchCompanySubsidiariesResponse"/></operation>
    <operation name="fetchCompanyTrade" parameterOrder="int_1 int_2 String_3 String_4">
      <input message="tns:NNE_PortType_fetchCompanyTrade"/>
      <output message="tns:NNE_PortType_fetchCompanyTradeResponse"/></operation>
    <operation name="lookupAreaCodes">
      <input message="tns:NNE_PortType_lookupAreaCodes"/>
      <output message="tns:NNE_PortType_lookupAreaCodesResponse"/></operation>
    <operation name="lookupCategoryCodes">
      <input message="tns:NNE_PortType_lookupCategoryCodes"/>
      <output message="tns:NNE_PortType_lookupCategoryCodesResponse"/></operation>
    <operation name="lookupCompanyForms">
      <input message="tns:NNE_PortType_lookupCompanyForms"/>
      <output message="tns:NNE_PortType_lookupCompanyFormsResponse"/></operation>
    <operation name="lookupCompanyStatus">
      <input message="tns:NNE_PortType_lookupCompanyStatus"/>
      <output message="tns:NNE_PortType_lookupCompanyStatusResponse"/></operation>
    <operation name="lookupCountyCodes">
      <input message="tns:NNE_PortType_lookupCountyCodes"/>
      <output message="tns:NNE_PortType_lookupCountyCodesResponse"/></operation>
    <operation name="lookupCreditRatings">
      <input message="tns:NNE_PortType_lookupCreditRatings"/>
      <output message="tns:NNE_PortType_lookupCreditRatingsResponse"/></operation>
    <operation name="lookupDsSizeCodes">
      <input message="tns:NNE_PortType_lookupDsSizeCodes"/>
      <output message="tns:NNE_PortType_lookupDsSizeCodesResponse"/></operation>
    <operation name="lookupFunctionAreas">
      <input message="tns:NNE_PortType_lookupFunctionAreas"/>
      <output message="tns:NNE_PortType_lookupFunctionAreasResponse"/></operation>
    <operation name="lookupMunicipalityCodes">
      <input message="tns:NNE_PortType_lookupMunicipalityCodes"/>
      <output message="tns:NNE_PortType_lookupMunicipalityCodesResponse"/></operation>
    <operation name="lookupTradeCodes">
      <input message="tns:NNE_PortType_lookupTradeCodes"/>
      <output message="tns:NNE_PortType_lookupTradeCodesResponse"/></operation>
    <operation name="lookupTradeGroups">
      <input message="tns:NNE_PortType_lookupTradeGroups"/>
      <output message="tns:NNE_PortType_lookupTradeGroupsResponse"/></operation>
    <operation name="search" parameterOrder="Question_1 int_2 int_3 int_4 String_5">
      <input message="tns:NNE_PortType_search"/>
      <output message="tns:NNE_PortType_searchResponse"/></operation>
    <operation name="searchTargetGroup" parameterOrder="QuestionTargetGroup_1 int_2 int_3 int_4 String_5">
      <input message="tns:NNE_PortType_searchTargetGroup"/>
      <output message="tns:NNE_PortType_searchTargetGroupResponse"/></operation></portType>
  <binding name="NNE_PortTypeBinding" type="tns:NNE_PortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
    <operation name="fetchCompany">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://com.stibo.net/nne/3.1/NNE"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://com.stibo.net/nne/3.1/NNE"/></output></operation>
    <operation name="fetchCompanyAccountants">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://com.stibo.net/nne/3.1/NNE"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://com.stibo.net/nne/3.1/NNE"/></output></operation>
    <operation name="fetchCompanyAdditionalNames">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://com.stibo.net/nne/3.1/NNE"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://com.stibo.net/nne/3.1/NNE"/></output></operation>
    <operation name="fetchCompanyAssociates">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://com.stibo.net/nne/3.1/NNE"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://com.stibo.net/nne/3.1/NNE"/></output></operation>
    <operation name="fetchCompanyBankConnections">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://com.stibo.net/nne/3.1/NNE"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://com.stibo.net/nne/3.1/NNE"/></output></operation>
    <operation name="fetchCompanyCategories">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://com.stibo.net/nne/3.1/NNE"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://com.stibo.net/nne/3.1/NNE"/></output></operation>
    <operation name="fetchCompanyCreditRating">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://com.stibo.net/nne/3.1/NNE"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://com.stibo.net/nne/3.1/NNE"/></output></operation>
    <operation name="fetchCompanyDecisionmakers">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://com.stibo.net/nne/3.1/NNE"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://com.stibo.net/nne/3.1/NNE"/></output></operation>
    <operation name="fetchCompanyFinance">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://com.stibo.net/nne/3.1/NNE"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://com.stibo.net/nne/3.1/NNE"/></output></operation>
    <operation name="fetchCompanyOwnership">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://com.stibo.net/nne/3.1/NNE"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://com.stibo.net/nne/3.1/NNE"/></output></operation>
    <operation name="fetchCompanySubsidiaries">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://com.stibo.net/nne/3.1/NNE"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://com.stibo.net/nne/3.1/NNE"/></output></operation>
    <operation name="fetchCompanyTrade">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://com.stibo.net/nne/3.1/NNE"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://com.stibo.net/nne/3.1/NNE"/></output></operation>
    <operation name="lookupAreaCodes">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://com.stibo.net/nne/3.1/NNE"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://com.stibo.net/nne/3.1/NNE"/></output></operation>
    <operation name="lookupCategoryCodes">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://com.stibo.net/nne/3.1/NNE"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://com.stibo.net/nne/3.1/NNE"/></output></operation>
    <operation name="lookupCompanyForms">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://com.stibo.net/nne/3.1/NNE"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://com.stibo.net/nne/3.1/NNE"/></output></operation>
    <operation name="lookupCompanyStatus">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://com.stibo.net/nne/3.1/NNE"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://com.stibo.net/nne/3.1/NNE"/></output></operation>
    <operation name="lookupCountyCodes">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://com.stibo.net/nne/3.1/NNE"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://com.stibo.net/nne/3.1/NNE"/></output></operation>
    <operation name="lookupCreditRatings">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://com.stibo.net/nne/3.1/NNE"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://com.stibo.net/nne/3.1/NNE"/></output></operation>
    <operation name="lookupDsSizeCodes">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://com.stibo.net/nne/3.1/NNE"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://com.stibo.net/nne/3.1/NNE"/></output></operation>
    <operation name="lookupFunctionAreas">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://com.stibo.net/nne/3.1/NNE"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://com.stibo.net/nne/3.1/NNE"/></output></operation>
    <operation name="lookupMunicipalityCodes">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://com.stibo.net/nne/3.1/NNE"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://com.stibo.net/nne/3.1/NNE"/></output></operation>
    <operation name="lookupTradeCodes">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://com.stibo.net/nne/3.1/NNE"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://com.stibo.net/nne/3.1/NNE"/></output></operation>
    <operation name="lookupTradeGroups">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://com.stibo.net/nne/3.1/NNE"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://com.stibo.net/nne/3.1/NNE"/></output></operation>
    <operation name="search">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://com.stibo.net/nne/3.1/NNE"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://com.stibo.net/nne/3.1/NNE"/></output></operation>
    <operation name="searchTargetGroup">
      <soap:operation soapAction=""/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://com.stibo.net/nne/3.1/NNE"/></input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" namespace="http://com.stibo.net/nne/3.1/NNE"/></output></operation></binding>
  <service name="NNE">
    <port name="NNE_PortTypePort" binding="tns:NNE_PortTypeBinding">
      <soap:address xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" location="http://service.nnerhverv.dk:80/nne-ws/3.1/NNE"/></port></service></definitions>